<ul class="side-menu">
<li><a href="#"><span class="fa fa-code"></span>Superguide</a></li>
<li><a href="#"><span class="fa fa-cog"></span>Instalação e Dependências</a></li>
<li><a href="#"><span class="fa fa-font"></span>Tipografia</a></li>
<li><a href="#"><span class="fa fa-caret-square-o-right"></span>Botões</a></li>
<li><a href="#"><span class="fa fa-check-square"></span>Formulários</a></li>
<li><a href="#"><span class="fa  fa-square"></span>Cards</a></li>
<li><a href="#"><span class="fa fa-bars"></span>Menu</a></li>
</ul>
